* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

.wrapper {
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.7);
    overflow: auto;
}
/* ---------------------- Assignment-0 ---------------------- */
.assign-0 {
    background: #333;
    overflow: hidden;
}

.assign-0 a {
    display: inline-block;
    float: left;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.assign-0 a:hover {
    background: red;
    outline: none;
    cursor: pointer;
}

.assign-0 .btn-0:hover {
    background: red;
    outline: none;
    cursor: pointer;
}

.assign-0 button {
    padding: 10px 20px;
    color:white;
    font-size: 16px;
    border: none;
    background: inherit;
}

.dropdown-0 {
    width: 127px;
    overflow: hidden;    
}

.dropdown-content-0 {
    position: absolute;
    width: 200px;
    background: #eee;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
}

.dropdown-0:hover .dropdown-content-0{
    display: block;
}

.dropdown-content-0 a {
    float: none;
    display: block;
    color: black;
}

.dropdown-content-0 a:hover {
    background: #ddd;
}
/* ---------------------- Assignment-1 ---------------------- */
.assign-1 {
    background: #333;
    overflow: hidden;
}

.assign-1 a {
    display: inline-block;
    float: left;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.assign-1 a:hover {
    background: red;
    outline: none;
    cursor: pointer;
}

.assign-1 .btn-1:hover {
    background: red;
    outline: none;
    cursor: pointer;
}

.assign-1 button {
    padding: 10px 20px;
    color:white;
    font-size: 16px;
    border: none;
    background: inherit;
}

.dropdown-1 {
    width: 127px;
    overflow: hidden;    
}

.dropdown-content-1.show {
    display: block;
}

.dropdown-content-1 {
    position: absolute;
    width: 200px;
    background: #eee;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
}

.dropdown-content-1 a {
    float: none;
    display: block;
    color: black;
}

.dropdown-content-1 a:hover {
    background: #ddd;
}