* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 13px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

ol, li {
    list-style: none;
}

.nav {
    background: #333;
    overflow: hidden;
}

.nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: left;
    cursor: pointer;
    outline: none;
}

.nav a:hover {
    background: red;
}

.btn {
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 13px;
    background: inherit;
    display: inline-block;
    float: left;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background: red;
}

.dropdown-content-1, .dropdown-content-2, .dropdown-content-3 {
    position: absolute;
    background: red;
    width: 100%;
    top: 35px;
    display: none;
}

.dropdown-1:hover .dropdown-content-1{
    display: block;
}

.dropdown-1:hover #btn1 {
    background: red;
}

.dropdown-content-1 a:hover {
    background: #ddd;
}

.dropdown-2:hover .dropdown-content-2{
    display: block;
}

.dropdown-2:hover #btn2 {
    background: red;
}

.dropdown-content-2 a:hover {
    background: #ddd;
}

.dropdown-3:hover .dropdown-content-3{
    display: block;
}

.dropdown-3:hover #btn3 {
    background: red;
}

.dropdown-content-3 a:hover {
    background: #ddd;
}