.registerTitle {
    position: relative;
    left: 9.32%;
    right: 78.7%;
    top: 20.7%;
    bottom: 75.35%;
    font-family: Sunflower;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 31px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.registerSecurity{
    font-family: Sunflower;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 60px;
}

.newCustomerText{

    position: relative;
    left: 107px;
    top: 25px;

    font-family: Sunflower Light;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
}

.emailAddress{
    position: relative;
    left: 107px;
    top: 50px;
    width: 50%;
}

.emailAddressSpan {
    position: relative;
    top: 14px;
    width: 150px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    font-size: 18px;
}

.radio-style{
    font-family: Sunflower;
    font-size: 20px;
    font-weight: bold;
}


.inputRegister {
    height: 27.07px;
    font-weight: bold !important;
}

.confirmEmailAddress {
    position: relative;
    left: 105px;
    top: 50px;
    width: 50%
}

.confirmEmailAddressSpan {
    position: relative;
    top: 14px;
    width: 190px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.inputRegisterConfirm {
    position: relative;
    left: 2.3px;
}

.firstName {
    position: relative;
    left: 104px;
    top: 60px;
    width: 50%;
}

.firstNameSpan {
    position: relative;
    top: 14px;
    width: 100px;
    height: 15.62px;  
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.inputRegisterFirstName {
    position: relative;
    left: 3px;
}

.lastName{
    position: relative;
    left: 104px;
    top: 50px;
    width: 50%;
}

.lastNameSpan {
    width: 100px;
    position: relative;
    top: 14px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.inputRegisterLastName {
    position: relative;
    left: 3.4px;
}

.gender {
    position: relative;
    left: 104px;
    top: 50px;
    width: 50%
}

.genderSpan {
    width: 46.35px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.birthday {
    position: relative;
    left: 103px;
    top: 70px;
    width: 50%;
}

.birthdaySpan {
    position: relative;
    top: 14px;
    width: 56.77px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.inputRegisterBirthday {
    position: relative;
    left: 4.5px;
}

.password {
    position: relative;
    left: 103px;
    top: 70px;
    width: 50%;
}

.passwordSpan {
    position: relative;
    top: 14px;
    width: 64.06px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.inputRegisterPassword {
    position: relative;
    left: 5.5px;
}

.confirmPassword {
    position: relative;
    left: 103px;
    top: 70px;
    width: 50%;
}

.confirmPasswordSpan {
    position: relative;
    top: 14px;
    width: 150px;
    height: 15.62px;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

.inputRegisterConfirmPassword {
    position: relative;
    left: 5.5px;
}

.btnRegister {
    position: relative;
    top: 80px;
    left: 182.58px;
}

.btnLoginRegister {
    position: relative;
    left: 100px;
    width: 150px;
    height: 40px;
    background: #000000;
    border: 0.693637px solid rgba(6, 0, 0, 0.35);
    border-radius: 2.08091px;
    color: white;
}

.btnLoginRegister:hover {
    color: white !Important;
}

.security {
    position: relative;
    left: 120px;
    top: 100px;
}

.securityP {
    width: 700px;
}

.registerFooter {
    position: relative;
    top: 150px;
}