body {
    background: #f0f0f0;
    font-family: font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #363f4d;
    
}

.col-sm-3, .col-md-3 {
    padding: 5px !important;
}

header {
    background: #333;
    margin-bottom: 10px;
}

header .col-1 img {
    max-width: 100px;
}

header .free-shipping {
    padding: 10px;
}

header .free-shipping a {
    text-decoration: none;
    color: red;
    font-size: 18px;
}

header .free-shipping img {
    max-width: 30px;
}

.trending img {
    width: 100%;
    height: 394px;
}

header .nav li {
    display: inline-block;
    float: left;
}

header .nav a {
    font-family: Sunflower Light;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

ul.nav li.nav-item a:hover {
  background-color: transparent;
    transform: translateY(-3px);
}

header .search-container {
    position: relative;
}

header .search-container form {
    width: 80%;
}

header .search-container button {
    position: absolute;
    bottom: 0px;
    right: 100px;
    background: none;
}

header .search-container a {
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0px;
}

header .search-container .cart-right span {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 16px;
    position: absolute;
    border-radius: 50%;
    background: darkorange;
    text-align: center;
    bottom: 20px;
    right: -10px;
}

body h3{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}

body h2{
    font-family: Sunflower;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

body h4{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

body h1{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
}

.font-review{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 1px;
}

.btn-review{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold !important;
    font-size: 20px !important;
    background-color: white !important;
    border: 2px solid black !important;
    height: 50px;
    width: 250px;
}

.img-review{
    width: 100%;
    padding-bottom: 20px;
}

.detail-sub{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 1px;
}

.img-detail{
    margin-bottom: 19px;
}

.loginTitle {
    font-family: Sunflower;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 60px;
}

.favorite{
    right: 40px !important;
    position: absolute !important;
    display: inline-block;
}

.fav-sub-med{
    font-family: Sunflower;
    font-style: normal;
    font-size: 14px;
}

.check-sub-med{
    font-family: Sunflower;
    font-style: normal;
    font-size: 14px;
    margin: 2px;
}

.cart-sub{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin : 0.5px;
}

.fav-sub{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.sub-categories{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    padding: 0 120px;
}

.sub-categories:hover{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.check-box{
    margin: 10px;
}

.btn-add-cart{
    height: 60px;
    font-family: Sunflower;
    font-size: 40px !important;
    color: white;
    margin: 30px;
    background-color: rgba(255, 0, 0, 0.85);
}

.btn-add-del{
    height: 60px;
    font-family: Sunflower;
    font-size: 40px !important;
    color: white;
    margin: 30px;
    background-color: black;
}

.btn-checkout{
    height: 35px;
    width: 110px;
    font-family: Sunflower;
    font-size: 18px !important;
    color: white;
    background-color: #CF1717;
}

.input-cart{
    width: 200px;
    height: 30px;
}

.btn-cart{
    height: 30px;
    font-family: Sunflower;
    font-size: 14px !important;
    color: white;
    background-color: #CF1717;
}

.btn-tocheckout{
    height: 60px;
    font-family: Sunflower;
    font-size: 20px !important;
    color: white;
    width: 250px;
    margin: 30px;
    background-color: black;
}

.btn-detail{
    height: 60px;
    font-family: Sunflower;
    font-size: 40px !important;
    color: white;
    width: 250px;
    border-radius: 15px !important;
    background-color: rgba(255, 0, 0, 0.85);
    margin: 10px;
}

.radio-btn{
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
}

.form-cart{
    width: 350px;
    font-family: Sunflower;
}

.select-cart{
    width: 350px;
    font-family: Sunflower;
    height: 40px;
    margin-bottom: 20px;
}

.light{
    color: red !important;
}

.sliders {
     padding: 10px;    
}

.imagesGroup {
    position: relative;
}


.imageContainer img {
    width: 100%;
    height: 704px;
}

.imagePageWoman img{
    width: 100%;
}

.slider-men {
    width: 100%;
    height: 704px;
    background-image: url("../images/male.jpg");
    background-position: center top;
}

.slider-man-content{
    padding-top: 40px;
    padding-left: 650px;
}

.slider-man-sub-content{
    padding-left: 870px;
    padding-top: 50px;
}

.imagesGroup a.prev,
.imagesGroup a.last {
    color: white;
    text-decoration: none !important;
    font-size: 20px;
}

.imagesGroup .prev {
    position: absolute;
    top: 40%;
    left: 16px;
    padding: 20px;
    background: #333;
    opacity: 0.6;
}

.slider-woman{
    width: 100%;
    height: 704px;
    background-image: url("../images/women.jpg");
    background-position: center top;
}

.slider-woman-content{
    padding-top: 40px;
    padding-left: 30px;
}

.slider-woman-sub-content{
    padding-left: 25px;
    padding-top: 260px;
    width: 460px;
}

.woman-sub{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
    color: black;
    margin: -10px;
}

.sport-sub{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    color: black;
    margin: -10px;
}

.btn-sport{
    text-align: center;
    padding-top: 20px;
}

.imagesGroup .prev:hover {
    opacity: 0.9;
}

.imagesGroup .last {
    position: absolute;
    top: 40%;
    right: 16px;
    padding: 20px;
    background: #333;
    opacity: 0.6
}

.imagesGroup .last:hover {
    opacity: 0.9;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.sub-menu{
    font-family: Sunflower;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin: 2px;
}

.sub-menu-small{
    font-family: Sunflower;
    font-size: 14px;
    font-style: normal;
    padding-left: 30px;
    margin: 2px;
}


.sub-menu-med{
    font-family: Sunflower;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    padding-left: 20px;
    margin: 2px;
    padding-top: 5px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #999;
    border-radius: 50%;
    margin-left: 7px;
    transition: 0.6s ease;
}

.dot.active {
    background: #333;
}

.newOfferGroup {
    position: relative;
}

.newOfferContainer {
    transition: 0.6s ease;
}

.newOfferContainer img {
    width: 100%;
    height: 383px;
    transition: 0.6s ease;
    padding: 0px 30px;
}

.newOfferGroup a.prevOffer,
.newOfferGroup a.lastOffer {
    color: white;
    text-decoration: none !important;
    font-size: 20px;
}

.newOfferGroup .prevOffer {
    position: absolute;
    top: 40%;
    left: 16px;
    padding: 20px;
    background: #333;
    opacity: 0.6;
}

.newOfferGroup .prevOffer:hover {
    opacity: 0.9;
}

.newOfferGroup .lastOffer {
    position: absolute;
    top: 40%;
    right: 16px;
    padding: 20px;
    background: #333;
    opacity: 0.6
}

.newOfferGroup .lastOffer:hover {
    opacity: 0.9;
}

.dotsOffer {
    text-align: center;
    margin-top: 10px;
}

.dotOffer {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #999;
    border-radius: 50%;
    margin-left: 7px;
    transition: 0.6s ease;
}

.dotOffer.active {
    background: #333;
}


.newOfferGroup {
    margin-top: 20px;
}

.newOfferGroup p {
    margin: 10px;
}

.limited-time span {
    padding: 8px 100px;
    background: #CF1717;
    color: white;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase
}

.btn-font{
    padding: 5px 110px !important;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold !important;
    font-size: 22px !important;
}

.new-arrival span {
    font-style: normal;
    padding: 10px 60px;
    background: black;
    color: white;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.new-arrival-font{
    padding-top: 20px;
    font-family: Sunflower Light;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    color: black;
}

.new-arrival-sub{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    align-items: center;
    padding-top: 10px;
    color: black;
}

.new-arrival-man{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    align-items: center;
    color: black;
    margin: -10px 0px;
}

.btn-new-arrival{
    padding: 5px 40px !important;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold !important;
    font-size: 22px !important;
    height: 50px;
}

.newOfferGroup .new-arrival {
    display: block;
}

.new-offer-header{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
}

.new-offer-content{
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.outware {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model1.png");
    background-position: center top;
}

.outware:hover {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model1h.png");
    background-position: center top;
}

.top {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model2.png");
    background-position: center top;
}

.top:hover {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model2h.png");
    background-position: center top;
}

.bottoms {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model4.png");
    background-position: center top;
}

.bottoms:hover {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model4h.png");
    background-position: center top;
}

.jeans {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model6.png");
    background-position: center top;
}

.jeans:hover {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model6h.png");
    background-position: center top;
}

.jumpsuits {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model3.png");
    background-position: center top;
}

.jumpsuits:hover {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model3h.png");
    background-position: center top;
}

.dresses {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model7.png");
    background-position: center top;
}

.dresses:hover {
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 425px;
    background-image: url("../images/Model7h.png");
    background-position: center top;
}

.men-outerware{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 532.22px;
    background-image: url("../images/men1.png");
    background-position: center top;
}

.men-outerware:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 532.22px;
    background-image: url("../images/men1h.png");
    background-position: center top;
}

.men-top{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 532.22px;
    background-image: url("../images/men2.png");
    background-position: center top;
}

.men-top:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 532.22px;
    background-image: url("../images/men2h.png");
    background-position: center top;
}

.men-bottom{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 532.22px;
    background-image: url("../images/men3.png");
    background-position: center top;
}

.men-bottom:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 532.22px;
    background-image: url("../images/men3h.png");
    background-position: center top;
}

.kid-outware{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kid1.png");
    background-position: center top;
}

.kid-outware:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kid1h.png");
    background-position: center top;
}

.kid-top{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kids2.png");
    background-position: center top;
}

.kid-top:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kids2h.png");
    background-position: center top;
}

.kid-bottom{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kids3.png");
    background-position: center top;
}

.kid-bottom:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kids3h.png");
    background-position: center top;
}

.kid-dresses{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kids4.png");
    background-position: center top;
}

.kid-dresses:hover{
    padding-top: 180px;
    color: white;
    font-family: Sunflower;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 404.46px;
    background-image: url("../images/kids4h.png");
    background-position: center top;
}

footer{
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    font-family: Sunflower Light;
    font-style: normal;
    font-size: 17px;
    height: 330px;
}

footer .padding-footer{
    padding-top: 30px;
}

footer .partner {
    display: inline-block;
}

footer .partner img {
    width: 80px;
    height: 80px;
}

footer h5 {
    font-weight: bold;
    margin: 10px 0px;
}

footer p {
    margin-bottom: 5px;
}

footer .media .media-item {
    display: inline-block;
}

footer .media .media-item img {
    width: 50px;
    height: 50px;
}

footer .subscribe-form input {
    width: 65%;
    float: left;
}

footer .subscribe-form .btn {
    border-radius: 0;
}

/* Fading animation */
.fade1 {
    -webkit-animation-name: fade1;
    -webkit-animation-duration: 1.5s;
    animation-name: fade1;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade1 {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}